.nav1 {
  height: 80vh;
}

#navImg {
  height: 80vh;
  filter: brightness(35%);
}

.indep {
  margin: auto;
  width: 65%;
  margin-top: 5%;
}

#notice {
  margin-left: auto;
  margin-right: 5%;
  margin-top: 7%;
  border-radius: 8px;
  min-height: 350px;
  background-color: rgba(0, 0, 0, 0.681);
}
.notification2 {
  display: none;
}
#notice2 {
  backdrop-filter: blur(10px);
  margin: auto;
  border-radius: 8px;
  min-height: 350px;
  background-color: rgba(76, 69, 77, 0.582);
  width: 100%;
}

@media (max-width: 1200px) {
  #notice {
    display: none;
  }
  .indep {
    margin-top: 12%;
  }
  .timer {
    width: 100%;
    display: block;
  }
}

@media (max-width: 1000px) {
  .indep {
    width: 100%;
    margin-top: 12%;
  }
  .notification {
    display: none;
  }
  .notification2 {
    display: block;
  }
}

@media (max-width: 770px) {
  .nav1 {
    height: 60vh;
  }
  #navImg {
    height: 60vh;
  }
}

@media (max-width: 500px) {
  .indep {
    width: 100%;
    margin-top: 35%;
  }
  .nav1 {
    height: 50vh;
  }
  #navImg {
    height: 50vh;
  }
}
